*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.mainMenu {
	text-align: center;
	clear:both;	
}
.mainBack{
	display:inline-block;
	cursor:pointer;
	background-color: black;
	text-align: center;
	color:white;
	border-radius:5px;
	padding:5px;
	margin:4px;
	width:20%;
	max-width:140px;
	float:left;
	font-size:20px;
}

.inputRegExWrapper , .inpFormWrapper{
	clear:both;
}
.inpFormWrapper{
	text-align: center;
}
.mainHead{
	text-align: center;
	display: inline-block;
	width:70%;
	float:left;
}

.mainMenu button{
	padding: 5px;
	outline: none;
}

.inputRegEx{ text-align: center; }
.inputRegEx h2{
	margin:5%;
	margin-top:2%;
}
.inputRegEx p{	display: inline; }
.inputRegEx button{
	margin:10px;
	padding:5px;
	outline: none;
}
.inputRegEx input{
	margin-left:10px;
	padding:0.7%;
	width:40vw;
}
.otpFA , .divHolder1{	clear:both; padding: 1% 0.3%;}

.internalOtp , .inpDiv{
	border: 1px solid black;
	padding:1vw;
	float:left;
	clear:both;
	width:100%;
	margin:2vw 0.1%;
}

.inpFormWrapper input[type=number] , .inpFormWrapper input[type=text] , .inpFormWrapper input[type=submit]{ padding:2px; }

.wrapperO{text-align: center; clear:both;}
.spanLabel{display: inline-block;text-align: center;}
.textQ { padding:1px;}
.wrapperO button{padding:3px;outline: none;}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {
	.inputRegEx h2{  font-size:5vw; }
	.inputRegEx p{ font-size:4.2vw; }
	.inputRegEx button{ font-size: 3.5vw; }
	.inputRegEx input{  font-size:3.5vw;}
	.textQ , .spanLabel { width:13.5vw; margin: 1vw 2vw;font-size: 5vw;}
	.rowLabel ,.inpFormWrapper input[type=number] , .inpFormWrapper input[type=text] , .inpFormWrapper input[type=submit] ,.inpFormWrapper form, .inpFormWrapper input[type=submit] , .wrapperO button , .inpDiv p , .mainMenu button{font-size: 5vw;}
}
@media only screen and (min-width: 400px) {
  body {background-color: pink;}
  	.inputRegEx h2{  font-size:4.5vw; }
	.inputRegEx p{ font-size:3.3vw; }
	.inputRegEx button{ font-size: 2.8vw; }
	.inputRegEx input{  font-size:3vw;}
	.textQ , .spanLabel { width:14vw; margin: 1vw 2vw;font-size: 4vw;}
	.rowLabel , .inpFormWrapper input[type=number] , .inpFormWrapper input[type=text] , .inpFormWrapper input[type=submit] , .inpFormWrapper form , .inpFormWrapper input[type=submit] , .wrapperO button , .inpDiv p , .mainMenu button{font-size: 4vw;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
 body {background-color: yellow;}
 	.inputRegEx h2{  font-size:4vw; }
	.inputRegEx p{ font-size:3.2vw; }
	.inputRegEx button{ font-size: 3vw; }
	.inputRegEx input{  font-size:3vw;}
	.internalOtp{clear:none;width:33%;}
	.textQ , .spanLabel { width:14vw; margin: 1vw 2vw;font-size: 2.8vw;}
	.rowLabel , .inpFormWrapper input[type=number] , .inpFormWrapper input[type=text] , .inpFormWrapper input[type=submit] , .inpFormWrapper form , .inpFormWrapper input[type=submit] , .wrapperO button , .inpDiv p , .mainMenu button{font-size: 2.8vw;}
	.inpDiv{clear:none;width:49%;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {background-color: green;}
  	.inputRegEx h2{  font-size:3.9vw; }
	.inputRegEx p{ font-size:2.8vw; }
	.inputRegEx button{ font-size: 2.3vw; }
	.inputRegEx input{  font-size:2.4vw; width:30vw;}
	.textQ , .spanLabel { width:14vw; margin: 1vw 2vw;font-size: 2.2vw;}
	.rowLabel , .inpFormWrapper input[type=number] , .inpFormWrapper input[type=text] , .inpFormWrapper input[type=submit] ,.inpFormWrapper form , .inpFormWrapper input[type=submit] , .wrapperO button , .inpDiv p , .mainMenu button{font-size: 2.2vw;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
 body {background-color: blue;}
 	.inputRegEx h2{  font-size:3.4vw; }
	.inputRegEx p{ font-size:2.3vw; }
	.inputRegEx button{ font-size: 1.8vw; }
	.inputRegEx input{  font-size:1.8vw; }
	.textQ , .spanLabel { width:12vw; margin: 1vw 2vw;font-size: 1.8vw;}
	.rowLabel , .inpFormWrapper input[type=number] , .inpFormWrapper input[type=text] , .inpFormWrapper input[type=submit] ,.inpFormWrapper form , .inpFormWrapper input[type=submit] , .wrapperO button , .inpDiv p , .mainMenu button{font-size: 1.8vw;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  	body{background-color: pink;}
  	.inputRegEx h2{  font-size: 2.5vw; }
	.inputRegEx p{ font-size: 1.9vw; }
	.inputRegEx button{ font-size: 1.5vw; }
	.inputRegEx input{  font-size: 1.5vw; width:26vw;}
	.textQ , .spanLabel { width:10vw; margin: 1vw 2vw;font-size: 1.5vw;}
	.rowLabel , .inpFormWrapper input[type=number] , .inpFormWrapper input[type=text] , .inpFormWrapper input[type=submit] , .inpFormWrapper form , .inpFormWrapper input[type=submit] , .wrapperO button , .inpDiv p , .mainMenu button{font-size: 1.5vw;}
}
